html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
    list-style: none;
    padding: 0;
    margin: 0;
}

body {
    font-family: sans-serif;
    font-size: 16px;
    
   
    background-image: linear-gradient(260deg, #2376ae 0%, #c16ecf 100%);
}

a {
    color: white;
    font-weight: 100;
    letter-spacing: 2px;
    text-decoration: none;
    background: rgba(0, 0, 0, .2);
    padding: 20px 5px;
    display: inline-block;
    width: 100%;
    text-align: center;
    transition: all 0.5s
}

a:hover {
    background: rgba(0, 0, 0, .3);
}

.wrapper {
    max-width: 1000px;
    margin: 0 auto;
    padding: 50px;
    
}
img{
    max-width: 100%;
}

input{
    padding: 10px;
    border: 0;
}
section, footer{
    text-align: center;
    background: rgba(0, 0, 0, .2);
    padding: 20px;
    margin: 20px 0;
    color: white;
    font-weight: 100;
}

.plan ul li{
    border-bottom: 1px solid rgba(0, 0, 0, .1);
    padding: 10px;
}
.plan ul li:last-child{
    border-bottom: 0;
}
.plan a{
    width: auto;
    padding: 10px;
    text-decoration: none;
    background: #FFcc00;
    color: black;
    border-radius: 4px;
}
.plan h2{
    text-transform: uppercase;
    color: white;
    letter-spacing: 2px;
    text-shadow: 3px 3px 0 rgba(0, 0, 0, .1);
}
/*flex*/
.price{
    font-size: 50px;
    font-family: serif;
    margin: 10px 0;
}
.price-grid{
    max-width: 750px;
    margin: 0 auto;
    border: 1px solid goldenrod;

    display: flex;
    align-items: center;
}
.plan{
    background: rgba(255, 255, 255, .2);
    margin: 20px;
    padding: 20px;
    text-align: center;
    border-radius: 4px;

    flex:1;
    flex-basis: 80%;
}
.plan:last-child,.plan:first-child{
    flex:1 1 100%;
}